@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=DynaPuff&family=Silkscreen&display=swap");

body {
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  max-width: 97vw;
  max-height: 150vh;
  padding: 10px 0;
  font-family: "Anton", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 95vw;
  margin: 0 auto;
  gap: 30px;
  align-items: center;
  background-color: rgba(224, 223, 223, 0.521);
  max-height: 90%;
}

h1 {
  font-size: 32px;
}

p {
  font-size: 16px;
  font-weight: 50;
}

fieldset {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  padding: 10px 0;
  gap: 10px;
  background-color: rgba(139, 13, 13, 0.904);
  max-height: 60%;
  border-radius: 20%;
}

form {
  display: flex;
  justify-content: space-between;
  max-height: 40%;
  gap: 4px;
}

label {
  color: #ffff;
  border-radius: 10px;
}

select {
  border-radius: 10px;
  width: 30%;
}

.botoes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

button {
  color: #ffff;
  border-radius: 12%;
}

.add {
  background-color: green;
  border: solid 2px rgba(73, 128, 0, 0.911);
}

.gerar {
  background-color: rgb(10, 66, 139);
  border: solid 2px rgb(0, 89, 255);
}

.limpar {
  background-color: rgb(255, 174, 0);
  border: solid 2px rgb(208, 255, 0);
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  max-height: 100%;
  gap: 10px;
  padding: 10px;
  overflow-y: auto;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8%;
  background-color: #ffff;
  width: 90%;
}

.nomeAluno {
  font-family: "Silkscreen", cursive;
  color: rgb(0, 87, 0);
  font-weight: bold;
}

.outros {
  font-family: "Bebas Neue", cursive;
  color: rgb(49, 1, 1);
}

.categoria {
  font-family: "DynaPuff", cursive;
}

.Contatoativo {
  color: black;
}

.pergunta {
  color: rgb(10, 66, 139);
}

.Outrasatividades {
  color: orange;
}

.Pendncias {
  color: red;
}

.copiarCodigo {
  background-color: rgb(0, 81, 255);
  color: #ffff;
  font-weight: bold;
  padding: 2%;
  border-radius: 50%;
}

.remover {
  width: 10px;
  height: 10px;
}

span {
  white-space: nowrap;
}

@media (min-width: 576px) {
  main {
    max-width: 80vw;
  }

  h1 {
    font-size: 40px;
  }

  p {
    font-size: 20px;
  }

  fieldset {
    width: 90%;
    padding: 20px;
  }

  form {
    gap: 20px;
    align-items: center;
  }

  input {
    padding: 8px;
    font-size: 16px;
  }

  select {
    padding: 8px;
    font-size: 16px;
  }

  .botoes {
    max-width: 80%;
  }
}

@media (min-width: 730px) {
  main {
    max-width: 80vw;
  }

  h1 {
    font-size: 48px;
  }

  fieldset {
    height: 120px;
  }

  input {
    font-size: 20px;
  }

  select {
    font-size: 20px;
    width: 40%;
  }

  .botoes {
    font-size: 50px;
  }

  .add {
    font-size: 20px;
  }

  .gerar {
    font-size: 20px;
  }

  .limpar {
    font-size: 20px;
  }

  li {
    padding: 20px;
  }

  span {
    font-size: 26px;
  }

  .remover {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 992px) {
  main {
    width: 80vh;
  }

  fieldset {
    max-width: 80%;
    max-height: 5%;
    padding: 0;
    gap: 10px;
  }

  input {
    max-width: 40%;
    max-height: 40px;
    font-size: 12px;
  }

  select {
    max-width: 40%;
    max-height: 40px;
    font-size: 12px;
  }

  .botoes {
    max-height: 50%;
    gap: 10px;
  }

  .add {
    max-width: 40%;
    height: 40px;
    font-size: 12px;
  }

  .add:hover {
    background-color: rgba(0, 128, 0, 0.651);
    cursor: pointer;
  }

  .gerar {
    max-width: 40%;
    height: 40px;
    font-size: 12px;
  }

  .gerar:hover {
    background-color: rgba(10, 66, 139, 0.548);
    cursor: pointer;
  }

  .limpar {
    max-width: 40%;
    height: 40px;
    font-size: 12px;
  }

  .limpar:hover {
    background-color: rgba(255, 174, 0, 0.637);
    cursor: pointer;
  }

  .remover:hover {
    opacity: 60%;
    cursor: pointer;
  }

  span {
    font-size: 16px;
  }
}
