body {
  max-width: 1200px;
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 370px;
  margin: 20px auto;
  gap: 20px;
  align-items: center;
}

h1 {
  font-size: 32px;
}

p {
  font-size: 20px;
  margin: auto 5%;
}

fieldset {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  gap: 10px;
  background-color: rgba(139, 13, 13, 0.904);
  padding: 10px;
  border-radius: 20%;
}

form {
  display: flex;
  justify-content: center;
  gap: 3%;
}

label {
  color: #ffff;
}

.botoes {
  display: flex;
  gap: 3%;
}

button {
  color: #ffff;
  border-radius: 12%;
}

.botao1 {
  background-color: green;
  border: solid 2px rgba(73, 128, 0, 0.911);
}

.botao2 {
  background-color: rgb(10, 66, 139);
  border: solid 2px rgb(0, 89, 255);
}

.botao3 {
  background-color: rgb(255, 174, 0);
  border: solid 2px rgb(208, 255, 0);
}
